h6 {
  font-family: Courier;
  text-align: center;
  font-size: 18px;
  color: steelblue;
}
h1 {
  font-family: Courier;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin: 10px;
  color: steelblue;
}
.logo {
  height: 72px;
  width: 216;
}
.iconos img {
  height: 36px;
  width: 36px;
  display: block;
  margin-bottom: 8px;
}
.iconos {
  float: right;
}
body {
  background-image: url("background-img/laptop1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
